.card {
  position: relative;
  width: 80vw;
  height: 60vh;
  background-color: #fff;
  color: #000;
  border-radius: 2em;
  box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem;
  padding: 1rem;
}
img {
  position: relative;
  left: 1em;
  top: -1em;
  width: 10vh;
  border-radius: 50%;
  border: 2em solid #ddd;
  float: left;
}
